<!DOCTYPE html>
<html>
    <head>
        <title>Edit This Ice Cream</title>
    </head>
    <body>
        <h1>Edit <%= @icecream.flavor %></h1>

        <form method="POST" action="/icecreams/<%=@icecream.id%>">
            <input type="hidden" method="_method" value="PATCH">
            <label for="flavor">Flavor: </label>
            <input type="text" name="flavor" value="<%=@icecream.flavor%>">
            <label for="brand">Brand: </label>
            <input type="text" name="brand" value="<%=@icecream.brand%>">
            <label for="price">Price: </label>
            <input type="text" name="price" value="<%=@icecream.price%>">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
